/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background-image: url('../img/fisi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: visible;
}

/* Container principal */
.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Fondo derecho e izquierdo */
.background-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 57%;
    height: 100%;
    background-color: rgba(16, 74, 141, 0.85);
}

.background-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 43%;
    height: 100%;
    background-color: rgba(221, 155, 11, 0.705);
}

