/* Logo Section */
.logo {
    position: absolute;
    top: 20%;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.logo img {
    width: 260px; /* Ajustar para tamaño correcto */
    height: 90px;
}

/* Container Principal */
.reset-password-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 70%; /* Ajusta el ancho según sea necesario */
    height: 35%; /* Ajusta la altura si es necesario */
    overflow: hidden; /* Asegurar que el borde se aplique uniformemente */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra para mayor profundidad */

}

.left-section {
    position: relative; /* Necesario para posicionar elementos absolutos dentro de esta sección */
    width: 47%; /* Ajusta el ancho según sea necesario */
    background-color: #C1C7CD; 
    padding: 0; /* Sin padding para que el logo ocupe todo el espacio */
    display: flex;
    justify-content: center; /* Centra el logo horizontalmente */
    align-items: center; /* Centra el logo verticalmente */
    overflow: hidden; /* Asegura que nada se salga del contenedor */
}

/* Ajustes para el logo */
.left-section .img img {
    width: 100%; /* Ajustar para ocupar toda la sección izquierda */
    height: auto; /* Mantener la proporción del logo */
    object-fit: cover; /* Ajustar sin deformar */
}

/* Alineación dentro de .left-section */
.left-section .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sección Derecha (Blanca) */
.right-section {
    width: 55%;
    background-color: #ffffff;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section .form-group {
    margin-bottom: 20px;
}

.right-section label {
    display: inline-block;
    font-size: 1.2em;
    color: #1475b6;
    margin-bottom: 25px;
    font-weight: bold;
}

/* Wrapper para el campo de email y el dominio */
.email-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.email-wrapper input {
    width: 100%;
    padding: 10px;
    padding-right: 100px; /* Dejar espacio para el dominio */
    border: none;
    border-bottom: 1px solid #333;
    font-size: 16px;
    box-sizing: border-box;
    background: transparent; /* Asegura que el fondo sea limpio */
    outline: none; /* Elimina el borde al hacer clic */
}

.email-domain {
    position: absolute;
    top: 10px; /* Ajustar para posicionar sobre la línea */
    right: 0;
    padding: 0 5px;
    font-size: 1.4em;
    color: #888;
    font-weight: bold;
    background: transparent; /* Fondo transparente */
    border: none; /* Elimina cualquier borde visible */
    pointer-events: none; /* Evita que se pueda hacer clic */
}

.btn-codigo {

    margin-top: 40px; /* Ajusta para que quede más cerca del campo de contraseña */
    padding: 10px;
    width: 100%;
    background-color:  #1475b6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em;
    transition: background-color 0.3s ease;
}

.btn-codigo:hover {
    background-color:  #1475b6;
}
